extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.owl-carousel.owl-theme
			.item
				img(src="./img/baner.png", alt="")
				.title
					.container
						.row
							.col-md-6.offset-md-3.text-center
								h2 Chúng tôi là FullStack Vietnam
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti incidunt ex, autem dignissimos illum aperiam pariatur in explicabo corporis delectus totam! 
								a.btn.nut CLICK HERE
			.item
				img(src="./img/baner.png", alt="")
				.title
					.container
						.row
							.col-md-6.offset-md-3.text-center
								h2 Chúng tôi là FullStack Vietnam
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti incidunt ex, autem dignissimos illum aperiam pariatur in explicabo corporis delectus totam! 
								a.btn.nut CLICK HERE
			.item
				img(src="./img/baner.png", alt="")
				.title
					.container
						.row
							.col-md-6.offset-md-3.text-center
								h2 Chúng tôi là FullStack Vietnam
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti incidunt ex, autem dignissimos illum aperiam pariatur in explicabo corporis delectus totam! 
								a.btn.nut CLICK HERE
	section.home-news
		h1.text-center
			span WHY
			| CHOOSE US
			span.dk 
		.text 
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro suscipit amet illum ullam, aliquam ex laborum. Facere ab maiores quibusdam sint ipsa, corporis error dignissimos mollitia totam quod maxime 
		.container
			.row
				.col-sm-4.text-center
					.item
						i.fa.fa-desktop
						h1  FullStack Vietnam
						P Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia vitae error rerum 
				.col-sm-4.text-center
					.item
						i.fa.fa-book
						h1  FullStack Vietnam
						P Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia vitae error rerum 
				.col-sm-4.text-center
					.item
						i.fa.fa-shopping-bag
						h1  FullStack Vietnam
						P Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia vitae error rerum 

	section.home-clients
		.container
			.row
				.col-sm-6
					.item
						h1
							span WHY
							| CHOOSE US
							span.dk 
						.text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							a.btn.nut CLICK HERE
						
				.col-sm-6
					.item.vv
						.scrollbar
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							.force-overflow

